
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bạn muốn ăn gì?</h1>
    <p class="lead">Cùng tìm kiếm những địa điểm ăn uống xung quanh mình!</p>

    @Html.Action("FilterForFood", "Filter", new { area = "" })
    <br />

</div>
<div class="text-danger"><h4>@ViewBag.Message</h4></div>
<div class="text-danger"><h4>@ViewBag.NoResult</h4></div>

