@{
    ViewBag.Title = "Email lấy lại mật khẩu đã gửi thành công !";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Kiểm tra hộp thư email của bạn để đặt lại mật khẩu.
    </p>
</div>
	
