@using Eating2.Business.ViewModels
@model StoreViewModel
@{
    ViewBag.Title = "Xóa cửa hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Xóa cửa hàng</h3>
<div>
    <h4>@Model.Name  </h4>
    <hr />
        @*<dl class="dl-horizontal">
            <dt>
                Cửa hàng:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>*@
    <h4 class="text-danger">Bạn thực sự muốn xóa cửa hàng này!<br />Sau khi xóa sẽ không khôi phục lại được. Thực đơn của cửa hàng cũng sẽ mất</h4>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> <br />
            @Html.ActionLink("Quay lại danh sách", "Index")
        </div>
    }
</div>


