
<ul class="nav navbar-nav">

    <li class="dropdown">
        <a class="dropdown-toggle" href="" data-toggle="dropdown">Cửa Hàng <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("Quản lý cửa hàng", "Index", "Store", new { area = "Store" }, null)</li>

        </ul>
    </li>
</ul>