@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Không trực tuyến !</h1>
    <h2 class="text-danger">Tài khoản hiện tại của bạn đã được đăng xuất, vui lòng đăng nhập lại !</h2>
</hgroup>
